[Desktop Entry]
Type=Application
Name=Simulflow
GenericName=Linux Desktop Extender
Comment=Turn your Android tablet into a second monitor over USB
Exec=simulflow
Icon=simulflow
Terminal=false
Categories=Utility;
Keywords=tablet;monitor;extend;display;adb;rdp;
